*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-md);
  line-height: var(--font-line-height-base);
  color: var(--color-neutral-900);
  background-color: var(--color-neutral-0);
}
